<section class="main-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="drive">
          <h1>Ślub</h1>
          <p>Ślubu udzielimy sobie w
            <span>
            <a href="http://sanktuarium.myslenice.pl/"
               target="_blank">Sanktuarium Matki Bożej Myślenickiej</a>
          </span> (Myślenice, ul. Królowej Jadwigi 5).
          </p>
          <div>
            <ng-map class="map"
                    center="49.834279,19.936548"
                    zoom="18">
              <marker position="49.834279,19.936548" title="Ślub"></marker>
            </ng-map>
          </div>
          <h1>Wesele</h1>
          <p>Wesele odbędzie się w
            <span>
            <a href="http://mka-sala.pl/"
               target="_blank">Sali Bankietowej MKA</a>
          </span> (Krzczonów 697).
          </p>
          <div>
            <ng-map class="map"
                    center="49.737315,19.901354"
                    zoom="18">
              <marker position="49.737315,19.901354" title="Wesele"></marker>
            </ng-map>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

